<launch>
    <node name="data_read_node" pkg="data_interface" type="data_read_node" output="screen"/>

  <node pkg="perceptual_filter" type="perceptual_filter_node" name="perceptual_filter_node" output="screen"></node>

   <node pkg="java_classifiers" type="execute" name="weka_classify" args="rosjava.java_classifiers.weka_classify.WekaTrain" output="screen"/>

</launch>
